<!DOCTYPE html>
<html>
<head>
<title>Sensei status</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="default.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <table>
<% for (var s in status){ %>
        <tr class="<%= s[3] %>" >
            <th><%= s[0] %></th>
            <th><%= s[1] %></th>
            <th><%= s[2] %></th>
        </tr>
<% } %>
    </table>
</body>
</html>
